BasedOnStyle: LLVM
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
AccessModifierOffset: -4
NamespaceIndentation: None
ContinuationIndentWidth: 4

BreakBeforeBraces: Attach
Cpp11BracedListStyle: true

SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpaceAfterCStyleCast: false
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

SortIncludes: CaseSensitive
IncludeBlocks: Preserve

ReflowComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
FixNamespaceComments: true

BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: NextLine

SpaceAfterTemplateKeyword: true
BreakBeforeConceptDeclarations: true
